<h1 class="display-6">Cars</h1>

<div class="row">
  <div class="col">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Car type</th>
          <th scope="col">Age</th>
          <th scope="col">Distance</th>
          <th scope="col">Price/Hour</th>
          <th scope="col">Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <th scope="row">{{ car.id }}</th>
          <td>
            <a [routerLink]="['/rent', car.id]">
              {{ car.carType }}
            </a>
          </td>
          <td>{{ car.age }}</td>
          <td>{{ car.distance }}</td>
          <td>{{ car.pricePerHour }}</td>
          <td>{{ car.available }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>