<h3 class="display-3">Welcome at the RentACar!</h3>

<h1 class="display-6">We have some new cars...</h1>

<div class="row">
  <div class="col">
      <img src="http://www.autogaleria.hu/autok/lada/2107-1992/lada_2107-1992_r14.jpg" class="img-thumbnail" alt="Lada" width="304" height="236">
      <img src="https://s1.cdn.autoevolution.com/images/gallery/SUZUKISwiftSedan-2186_2.jpg" class="img-thumbnail" alt="Lada" width="304" height="236">
      <img src="http://img.autocatalog.info.povas.serveriai.lt/cfoto/2271.jpg" class="img-thumbnail" alt="Lada" width="304" height="236">
  </div>
</div>
<h1 class="display-8">Come on, sign up and rent their now!</h1>