<h1 class="display-6">New Customer</h1>
<form (submit)="submit(registerForm)" #registerForm="ngForm">

  <div class="form-group">
    <mat-form-field>
      <input
        name="name"
        [(ngModel)]="model.userName"
        matInput type="text"
        placeholder="Enter user name"
        required pattern="[a-zA-Z ]+"
        #name="ngModel">
      <mat-error *ngIf="name.invalid && (location.dirty || name.touched) && name.errors.required">
        Location is required!
      </mat-error>
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.pattern">
        Location must start with PC...!
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea name="fullName" [(ngModel)]="model.fullName" placeholder="Enter full name"></textarea>
    </mat-form-field>
  </div>

  <button [disabled]="!registerForm.valid" type="submit" mat-raised-button color="primary">Save Customer</button>
</form>